<%- include("partials/header") -%>
<h1> Weather App </h1>  

<h3> Enter any city in the world and click <b style="color:#C84B31">Go</b> to find the current weather </h3>

      <%  let result = results[0]; %> 
       

        <div class="container">
         
          <form action="/" method="post">
            <div class="input-data">
              <label id="cityInput"></label>
              <input type="text" name="cityName" placeholder="Search for your city!" required autocomplete="off"> 
              <button id="submitButton" type="submit">Go</button>
            </div>  
          </form>
        </div>

        
        <footer> Created by Ipsha Menon 2022</footer>
   