body{
  background-color:#2D4263;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  
}

h1{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 45px;
  color: #f8ecd3;
}

h3{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #f8ecd3;
  padding: 50px;
}
.results-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container{
  width: 320px;
  height:480px;
  background: #f5edd9;
  border-radius: 20px;
  margin: 10px;
}

#newSearchButton {
  font-family: 'Montserrat', sans-serif;
  height: 50px;
  width: 320px;
  background-color: #C84B31;
  color: #f8ecd3;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  position: relative;
  top: 20px;
  
}

input{
 font-family: 'Montserrat', sans-serif;
 width: 20%;
 padding: 5px;
 border: none;
 border-bottom: 1.5px solid #f8ecd3 ;
 background-color: transparent;
 font-size: 20px;
 color: #f8ecd3;
 outline: none;
}

.input-data #submitButton{
  font-family: 'Montserrat', sans-serif;
  height: 45px;
  width: 90px;
  font-size: 20px;
  background-color: #C84B31;
  color: #f8ecd3;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
}

.input-data{
  text-align: center;
  position: relative;
  top: 50px;
}

::placeholder{
  color: #e9836f;
}

.cityResult{
  padding: 10px 30px 1px 30px ;
  text-align: left;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.countryCode{
  color: black;
  font-size: 50px;
}
.tempResult{
  color: black;
  padding: 10px 30px 1px 30px ;
  text-align: left;
  font-size: 70px;
}

span {
font-weight: normal;
font-size: 40px;
position: relative;
top: -22px;
left: 5px;
}

.descriptionResult{
  padding: 0 0 1px 80px ;
  font-size: 20px;
  font-weight: bolder;
  text-align: left;
  text-transform: uppercase;
  font-weight: bolder;
  color: black;
  position: relative;
  top: -20px;
}
.imgResult{
  width: 150px;
  height: 150px;
  position: relative;
  top: -35px;;
}

footer{
  text-align: center;
  color: #f8ecd3;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}
