body{
  background-color:#2D4263;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  
}

h1{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 45px;
  color: #f8ecd3;
}

h3{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #f8ecd3;
  padding: 50px;
}

input{
 font-family: 'Montserrat', sans-serif;
 width: 20%;
 padding: 5px;
 border: none;
 border-bottom: 1.5px solid #f8ecd3 ;
 background-color: transparent;
 font-size: 20px;
 color: #f8ecd3;
 outline: none;
}

.input-data #submitButton{
  font-family: 'Montserrat', sans-serif;
  height: 45px;
  width: 90px;
  font-size: 20px;
  background-color: #C84B31;
  color: #f8ecd3;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
}

.input-data{
  text-align: center;
  position: relative;
  top: 50px;
}

::placeholder{
  color: #e9836f;
}

.results-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container{
  width: 320px;
  height:480px;
  background: #f5edd9;
  border-radius: 20px;
  margin: 10px;
  
}

#newSearchButton {
  font-family: 'Montserrat', sans-serif;
  height: 50px;
  width: 320px;
  background-color: #C84B31;
  color: #f8ecd3;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  position: relative;
  top: 20px;
  
}

.tempResult{
  color: black;
  font-size: 80px;
  margin-top: auto;
}


span {
  font-weight: normal;
  font-size: 50px;
  position: relative;
  top: -22px;
  left: 5px;
  }

.cityResult{
  text-transform: capitalize;
  font-size: 25px;
  font-weight: bolder;
  color: black;
  padding: 0%;
}

.descriptionResult{
  font-size: 20px;
  font-weight: bolder;
  text-transform: uppercase;
  font-weight: bolder;
  color: black;
  text-align: center;
}

.imgResult{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}

footer{
  text-align: center;
  color: #f8ecd3;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}
